@charset "utf-8";
/* CSS Document */

#product-list{
  position: absolute;
  top: -12px;
  left: -5px;
  width: 320px;
  color: #333;
  font-size: 10px;
} 

#product-details {
  position: absolute;
  top: 12px;
  left: 350px;
  width: 322px;
  height: 310px;
}

#product-details > div{
  position: relative;
  margin: auto;
  width: 250px;
  border: 1px outset #CCC;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

#product-details div.main { 
  position: relative; 
  width: 250px;
  padding-top: 85px;
  font-size:13px;
  font-family:'Myriad Pro',tahoma;  
  text-decoration:none;
}

#product-details .main > * { position: absolute; }


#product-details div img{
  width: 80px;
  height: 80px;
  left: 5px;
  top: 5px;
}

#product-details div span.name{
  top:10px;
  left: 100px;
  text-align: left;
  width: 150px;
  font-weight: bold;
}

#product-details div span.manufacturer{
  top:23px;
  left: 110px;
  width: 150px;
  font-family: cursive;
  font-size: 11px;
  font-style: italic;
  text-indent: 5px;
  text-align: left;
}

#product-details .price{
  top:88px;
  right: 5px;
  width: 70px;
  font-family: monospace;
  font-weight: bold;
  text-align: right;
  color: red;
}


#product-details div h4{top:75px;  left: 5px; font-style: italic;}

#product-details div.main p{
  position: relative;
  width: 230px;
  text-align: justify;
  padding: 5px;
  text-indent: 10px; 
}

#product-details div span.category{
  top: 45px;
  right:0;
  text-align: right;
  padding: 5px;
}

#product-details div span.productType{
  top: 60px;
  right:0;
  text-align: right;
  padding: 5px;
}

#product-details div.main table.detailsType{position: relative;}

#product-details div a#header{
  top:0px;
  display: block;
  width: 100%;
  background-color: #363636;
  text-align:center;
  text-decoration: none;
  color: white;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
 }

#product-details div a#footer{
  display: block;
  width: 100%;
  background-color: #363636;
  text-align:center;
  text-decoration: none;
  color: white;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px; 
 }

#product-list li  {
  border-bottom: 1px solid #CCC;
  position: relative;
  list-style: none;
  width: 322px;
  height: 50px;
  font-family:'Myriad Pro',tahoma;  
  text-decoration:none;  
  font-size:13px;  
  background-color:white;
}
#product-list li > * {  position: absolute; overflow: hidden; height:20px;}

#product-list li img{
  top: 5px;
  left: 5px;
  max-width: 80px;
  max-height: 80px;
}
#product-list li span.name {
  top:5px;
  left: 60px;
  width: 160px;
  font-weight: bold;  
}

#product-list li span.manufacturer {
  top:22px;
  left: 60px;
  width: 100px;
  font-family: cursive;
  font-size: 10px;
  font-style: italic;
  text-indent: 5px;
}
#product-list li span.price {
  top:5px;
  right: 30px;
  width: 70px;
  font-family: monospace;
  text-align: right;
}

#product-list li span.shop {
  top: 25px;
  right: 30px;
  width: 120px;
  text-align: right;
  font-weight:500;
  padding-right: 5px;
}

#product-list li a {
  background: url("next.png") no-repeat center;
  height: 40px;
  width: 26px;
  top:5px;
  right: 0;
}

