@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

html, body {
  width:100%;
  height:100%;
  background-color:#E6E9EF;
  color:#333;
  font-family:"Myriad Pro", Arial, sans-serif;
  font-size:12px;
}

table tr, table td { padding:0; border-collapse: collapse; }
td { vertical-align:top; }
select, input[type=text], input[type=file], input.date,textarea {
  position:relative;
  display:inline-block;
  border:1px solid #CCC;
  border-radius:2px;
  padding:2px 4px;
  font-size:11px;
  background-color:white;
}
select:hover, input[type=text]:hover, input[type=file]:hover, input.date:hover, textarea:hover { border-color:#888; }
select:focus, input[type=text]:focus, input[type=file]:focus, input.date:focus, textarea:focus { border:1px solid #c7a054; box-shadow:0 0 8px #ebc57c; }
input.red { border-color:red; }
.required { color:red; }


a.blue { color:#06C; text-decoration:none; padding:0 4px; font-size:1.1em; }
a.blue:hover { text-decoration:underline; }

.button { display:inline-block; height:18px; background-color:#E3E3E3; border:1px solid #CCC; border-radius:2px; cursor:pointer; padding:0; margin:0; }
.button > .top { height:7px; background-color:#F4F4F4; border-bottom:1px solid #EEE; }
.button > .content { margin-top:-8px; padding:0 6px; line-height:18px; text-align:center; }
.button:hover { background-color:#F4F4F4; border-color:#888; }
.button:hover > .top { background-color:#E3E3E3; }
.button.right { float:right; }

.cancel-button { margin:0 5px; }

.right { text-align:right; }
.bold { font-weight:bold; }
.italic { font-style:italic; }

h1 {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:35px;
  font-size:1.4em;
  font-weight:bold;
  text-indent:30px;
  padding-top:10px;
  background-color:white;
}

h2 {
  height:18px;
  font-weight:bold;
  padding:6px 10px;
  border-bottom:1px solid #B0B0B0;
  font-size:1.25em;
}

h3 {
  height:18px;
  font-weight:bold;
  padding:6px 14px;
  font-size:1.15em;
}

hr {
  border-bottom:1px solid #B0B0B0;
  margin:0 5px;
}

ul#menu {
  position:absolute;
  top:10px;
  right:30px;
  width:113px;
  height:24px;
  display:block;
  list-style: none none;
  background-color:#F6F6F6;
  border:1px solid #ababab;
  border-radius:5px;
}

ul#menu > li {
  display:inline-block;
  font-size:1.2em;
  color:#06C;
  float:left;
}

ul#menu a {
  color:#333;
  text-decoration:none;
  display:block;
  padding:4px 5px;
  text-align: center;
}

ul#menu li.current {
  background-color:#5184d2;
}

ul#menu li.current a {
  color:#efefef;
  font-weight:bold;
}

select[name=shops] {
  position:absolute;
  top:10px;
  right:150px;
  width:200px;
  padding:4px;
  font-size:1.2em;
}

#blank {
  font-weight:bold;
  margin:auto;
  font-size:2em;
  width:100%;
  height:450px;
  text-align: center;
}

#blank img { margin: 130px auto; }
#blank p { position:absolute; top:211px; }

ul#submenu {
  position:absolute;
  top:45px;
  left:0;
  width:100%;
  height:28px;
  background-color:#5184d2; /*#084;*/
  list-style:none none;
  display:block;
  border-bottom:1px solid #c3cfe5;
  padding:8px 0 0 0;
}

ul#submenu > li {
  display:inline-block;
  margin:0 2px;
}

ul#submenu > li:first-child { margin-left:8px; }

ul#submenu a {
  display:block;
  width:100px;
  height:20px;
  text-align:center;
  text-decoration:none;
  padding:5px 10px ;
  color:#d7e8ff;
  font-weight:bold;
  border-bottom:0;
  background-color:#3a6aad; /*#00592C;*/
  color:#E6EFEA;
  border-radius:5px;
}

ul#submenu a.current {
  background-color:#E6E9EF;
  color:#333;
}

#page {
  position:absolute;
  top:77px;
  left:0;
  width:100%;
  padding:15px;
  background-color:#E6E9EF;
}

#corps { width:100%; }

.box {
  position:relative;
  background-color:white;
  border:1px solid #CCC;
  border-radius:5px;
}
.box + .box { margin-top:10px; }

.box-content { padding:0; }

input[name=filter] {
  position:absolute;
  top:5px;
  right:5px;
  width:40%;
}
input[name=filter].default {
  font-style: italic;
  color: #B0B0B0;
}

input.date{
  font-style: italic;
  color: #B0B0B0;
}

#calendar-chooser {
  position: absolute;
  top:5px;
  right:5px;
}
#calendar-chooser label {
  padding:0 5px;
}
#calendar-chooser input { width:400px; }
#calendar-chooser input[name=startDate] { width:100px; margin-right:34px; }
#calendar-chooser .button { position:absolute; top:0; right:0 }

.box a { color:#06c; text-decoration: none; }
.box a:hover { text-decoration: underline; }

table.dataview { width:100%; border-collapse:collapse; }
table.dataview thead { background-color:#F3F3F3; }
table.dataview thead, table.dataview thead a { color:#333; font-weight:bold; text-decoration:none; }
table.dataview thead, table.dataview thead a:hover { text-decoration:underline; }
table.dataview thead td { padding:5px 4px 5px 2px; height:14px; line-height:14px; border-bottom:1px solid #CCC; }
table.dataview thead td.current { background-color:#CCC; }
table.dataview tfoot { background-color:#DDD; }
table.dataview tfoot td { height:14px; padding:5px 4px; border-bottom:1px solid #5184d2; }
table.dataview td.status { width:8px; padding:0 8px; text-align:center; vertical-align:middle; }

/*table.dataview tbody tr:nth-child(odd) td { background-color:#ffffff; }
table.dataview tbody tr:nth-child(even) td { background-color:#f9f9f9; }*/

div.box-bottom { background-color:#DDD; height:20px; padding:5px 4px; border-bottom:1px solid #5184d2; border-top:1px solid #B0B0B0; }

ul.list-of-actions { list-style:none none; display:inline; }
ul.list-of-actions.right { float:right; }
ul.list-of-actions li { display:inline; }
ul.list-of-actions li.separator:after { margin-left:5px; content:"|"; color:#06C; }
ul.list-of-actions a { color:#06C; text-decoration:none; padding:0 4px; font-size:1.1em; }
ul.list-of-actions a.current { font-weight:bold; color:#121212; }
ul.list-of-actions a.current:hover { text-decoration:none; }
ul.list-of-actions a:hover { text-decoration:underline; }


div.light { display:block; width:8px; height:8px; margin:3px auto; overflow:hidden; }
div.light img { display:block; }
div.light.red img { margin-top:0; }
div.light.orange img { margin-top:-8px; }
div.light.green img { margin-top:-16px; }

/************** shop/view *******************/
#ishop { width:99%; padding:1%; }
form.regular, td#form-regular { width:650px; margin:auto; }
form.regular fieldset, form.regular .fieldset { width:600px; margin:10px 20px; padding:5px; border:1px solid #ccc; font-size:13px; }
form.regular .fieldset { border: 0; }
form.regular legend { padding:0 5px; background-color: white; font-style: italic; font-size:1.1em; font-weight: bold; }
form.regular label { width:150px; float:left; clear:left; margin-top:5px; }
form.regular label:after { content:" :"; }
form.regular input, form.regular textarea { float:left; margin:2px; width:400px; }
form.regular select { float:left; margin:2px; width:410px; }
form.regular input.alone { margin:2px 0 2px 152px; }
form.regular .logo { position:relative; width:96px; height:96px; float:left; border:2px solid #c6c6c6; cursor: pointer; margin:20px 15px; padding:5px; }
form.regular .logo:hover { border-color:darkblue; }
form.regular .info { width:440px; float:left; }
form.regular .info label { width:120px; }
form.regular .info input, form.regular .info textarea { width:293px; margin-left:14px; }
form.regular .info select { width:303px; margin-left:14px; }
form.regular fieldset + fieldset { padding:10px 15px; width:580px; }
form.regular .button { width:100%; }
form.regular .logo a { position:absolute; left:0; top:86px; width:100%; height:14px; padding:3px 0; text-align:center; display:block; background-color:lightblue; }
form.regular p { padding:5px; margin:0 5px; text-indent: 15px; text-align: justify; }
form.regular ul { padding:5px 35px; margin:0 15px; }

#ishop #word { width:364px; }
#ishop #keywords { width:98%; min-height:21px; border:1px solid #bbb; padding:3px 1%; }
#ishop #submit-word { float:left; margin:2px 0 0 0; width:50px; }
#map-fields { padding:18px 0; }
#google-map-canvas { width: 100%; height:836px; margin:0 5px; }
#keywords span { cursor:pointer; display:inline-block; background-image: url(http://static.shop.zap.com/img/cross.png); background-repeat:no-repeat; background-color:#3692e7; background-position:right; border:1px solid #293ea9; border-radius:7px; padding:2px 15px 2px 4px; margin:3x 2px 0 1px; }
#keywords span:hover { background-color:#80b6e8; border-color:#5184d2; }

/************ product/view ****************/
table#list-products tbody td { height:14px; padding:5px 4px; border-bottom:1px solid #E6E6E6; border-right:1px solid #F3F3F3; }
table#list-products tbody tr:hover td { background-color:#F6F6F6; }
table#list-products tbody tr:hover td:nth-child(2) a { border-color:#CCC; }
table#list-products tbody tr.current { background-color:#FFF6C3; }
table#list-products tbody tr.current td:nth-child(2) a { border-color:#FFF6C3; }
table#list-products tbody tr.current:hover td { background-color:#FFF6C3; }
table#list-products tbody tr.current:hover td:nth-child(2) a { border-color:#CCC; }
table#list-products tbody td:nth-child(1), table#list-products thead td:nth-child(1) { width:20px; text-align:center; }
table#list-products tbody td:nth-child(2) a { display:block; height:14px; overflow:hidden; color:black; text-decoration:none; border:1px solid white; }
table#list-products td.link { width:150px; }
table#list-products tbody td.link a { display:block; height:14px; overflow:hidden; color:#06C; text-decoration:none; }
table#list-products tbody td.link a:hover { text-decoration:underline; }
table#list-products td:nth-child(3) { width:100px; text-align: center; }
table#list-products td:nth-child(4) { width:100px; text-align: center; }
table#list-products td:nth-child(5) { width:50px; text-align: center; }
table#list-products tbody td:nth-child(6) { width:400px; }
table#list-products tbody td:nth-child(9) { width:60px; text-align:center; }

input[name=nameFilter] { position:absolute; top:5px; right:5px; width:400px; }
input[name=typeFilter] { position:absolute; top:5px; right:420px; width:150px; }
input.filter.default { font-style: italic; color: #B0B0B0; }

/************ product/edit  ************/
#product-details { width:95%; margin:auto; }
#product-details thead td { text-align: center; font-weight: bold; padding:3px 0; }
#product-details td:first-child { width: 150px; text-align:center; }
#product-details select { width:150px; margin:0 5px 3px 5px; }
#product-details input { width:100%; margin:0 5px 3px 5px; }
form#edit-product .button, #edit-product #cancel { width:100px; float: right; }

#popup #newType { width:300px; float:right; }
#popup #submit-new-type { float:right; margin:3px 0 0 2px; width:50px; }
#popup #type-values { width:98%; min-height:21px; border:1px solid #bbb; padding:3px 1%; }
#popup span { cursor:pointer; display:inline-block; background-image: url(http://static.shop.zap.com/img/cross.png); background-repeat:no-repeat; background-color:#3692e7; background-position:right; border:1px solid #293ea9; border-radius:7px; padding:2px 15px 2px 4px; margin:3x 2px 0 1px; }
#popup span:hover { background-color:#80b6e8; border-color:#5184d2; }
#popup label[for=newType] { float:right; width:auto; margin-right:10px; }
#popup .new-type#close { clear:both; float:right; width:150px; margin:0; }

#lock-background { position:fixed; top:0; left:0; display:none; width:100%; height:100%; background-image:url(http://static.shop.zap.com/img/bg-shadow.png); }
#popup { position:fixed; top:0; left:0; width:750px; background-color: white; padding:25px 15px; border:5px solid #5184d2; /*#084;*/ border-radius:10px; }
#popup h1 { font-size:14px; height:25px; border-bottom:1px solid #ececec; text-indent:15px; }
#popup p { font-size:12px; margin-top:15px; padding:3px 25px 2px 25px;  }
#popup p + p { margin:0; }
#popup fieldset { border: 1px solid #ececec; padding:4px; margin-bottom:5px; }
#popup legend { font-weight:bold; padding:2px; font-size:13px; margin:0 0 0 5px; text-transform:capitalize; }
#popup label { float:left; clear:left; width:135px; margin:7px 0 0 15px; font-size:12px; font-weight:normal; }
#popup input { float:left;  width:575px; margin:3px 0; font-size:12px; }
#popup #buttons { position:absolute; bottom:0; left:0; width:100%; text-align:right; padding:5px 0; border-top:1px solid #ececec; }
#popup .button { margin:0 5px 0 0; }
